In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [34]:
data = pd.read_csv("combined with sentiment.csv",parse_dates=[0])

In [35]:
data.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top23 neutral,Top23 negative,Top24 CompoundValue,Top24 positive,Top24 neutral,Top24 negative,Top25 CompoundValue,Top25 positive,Top25 neutral,Top25 negative
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,0.860,0.140,-0.8519,0.000,0.350,0.650,0.4019,0.351,0.649,0.000
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,0.753,0.247,-0.1832,0.263,0.414,0.323,0.0000,0.000,1.000,0.000
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,0.785,0.074,0.0000,0.000,1.000,0.000,0.0000,0.000,1.000,0.000
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,0.598,0.402,-0.4215,0.000,0.823,0.177,-0.3400,0.000,0.806,0.194
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,0.571,0.181,-0.6908,0.000,0.427,0.573,0.7096,0.349,0.651,0.000

In [36]:
data.columns

Index(['Date', 'Label', 'Top1', 'Top2', 'Top3', 'Top4', 'Top5', 'Top6', 'Top7',
       'Top8',
       ...
       'Top23 neutral', 'Top23 negative', 'Top24 CompoundValue',
       'Top24 positive', 'Top24 neutral', 'Top24 negative',
       'Top25 CompoundValue', 'Top25 positive', 'Top25 neutral',
       'Top25 negative'],
      dtype='object', length=128)

In [37]:
data.drop(['Top1', 'Top2', 'Top3', 'Top4', 'Top5',
       'Top6', 'Top7', 'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13', 'Top14', 'Top15', 'Top16', 'Top17', 'Top18',
            'Top19', 'Top20', 'Top21', 'Top22', 'Top23', 'Top24', 'Top25'], axis = 1, inplace = True)

In [38]:
data.head()

,Date,Label,start_trend,Top1 CompoundValue,Top1 positive,Top1 neutral,Top1 negative,Top2 CompoundValue,Top2 positive,Top2 neutral,...,Top23 neutral,Top23 negative,Top24 CompoundValue,Top24 positive,Top24 neutral,Top24 negative,Top25 CompoundValue,Top25 positive,Top25 neutral,Top25 negative
0,2008-08-08,0,0,-0.5994,0.000,0.738,0.262,0.0000,0.0,1.000,...,0.860,0.140,-0.8519,0.000,0.350,0.650,0.4019,0.351,0.649,0.000
1,2008-08-11,1,0,0.8156,0.332,0.668,0.000,-0.3182,0.0,0.723,...,0.753,0.247,-0.1832,0.263,0.414,0.323,0.0000,0.000,1.000,0.000
2,2008-08-12,0,0,0.0258,0.175,0.656,0.169,0.0000,0.0,1.000,...,0.785,0.074,0.0000,0.000,1.000,0.000,0.0000,0.000,1.000,0.000
3,2008-08-13,0,0,-0.7184,0.000,0.538,0.462,-0.8074,0.0,0.751,...,0.598,0.402,-0.4215,0.000,0.823,0.177,-0.3400,0.000,0.806,0.194
4,2008-08-14,1,0,0.2023,0.184,0.816,0.000,0.0000,0.0,1.000,...,0.571,0.181,-0.6908,0.000,0.427,0.573,0.7096,0.349,0.651,0.000

In [39]:
#extracting date, label, and sentiment scores
first = data.loc[ : , ['Date', 'Label'] ]
first
cols = data.filter(regex=("CompoundValue"))
cols.head()
sentiment_data = first.merge(cols, how='inner', left_index = True, right_index=True)
sentiment_data.head()

,Date,Label,Top1 CompoundValue,Top2 CompoundValue,Top3 CompoundValue,Top4 CompoundValue,Top5 CompoundValue,Top6 CompoundValue,Top7 CompoundValue,Top8 CompoundValue,...,Top16 CompoundValue,Top17 CompoundValue,Top18 CompoundValue,Top19 CompoundValue,Top20 CompoundValue,Top21 CompoundValue,Top22 CompoundValue,Top23 CompoundValue,Top24 CompoundValue,Top25 CompoundValue
0,2008-08-08,0,-0.5994,0.0000,-0.3612,-0.7089,-0.9260,0.0000,-0.2732,0.2144,...,0.0000,0.0,0.2086,0.2023,0.0258,-0.7579,-0.6249,-0.2755,-0.8519,0.4019
1,2008-08-11,1,0.8156,-0.3182,0.4404,-0.1965,0.0000,-0.4939,-0.5106,-0.0772,...,0.0000,0.0,-0.6597,0.0000,0.0000,-0.8020,0.0000,-0.3182,-0.1832,0.0000
2,2008-08-12,0,0.0258,0.0000,-0.7845,-0.6124,0.0000,-0.6908,-0.5994,-0.5994,...,0.0000,0.0,0.0772,-0.5994,-0.5859,0.0000,0.5267,0.3818,0.0000,0.0000
3,2008-08-13,0,-0.7184,-0.8074,-0.6369,-0.1280,-0.5106,0.0000,0.2960,0.0000,...,0.0000,0.0,0.0000,-0.5423,-0.0258,-0.2960,0.4939,-0.5719,-0.4215,-0.3400
4,2008-08-14,1,0.2023,0.0000,0.6808,-0.8689,-0.6124,-0.6369,0.7177,-0.4404,...,-0.6249,0.0,0.0000,0.0000,0.0000,-0.4404,-0.5994,0.1779,-0.6908,0.7096

In [40]:
# Push the Label column to the end of the dataframe
cols = list(sentiment_data)
cols.append(cols.pop(cols.index('Label')))
sentiment_data = sentiment_data.loc[:, cols]
sentiment_data.head()

,Date,Top1 CompoundValue,Top2 CompoundValue,Top3 CompoundValue,Top4 CompoundValue,Top5 CompoundValue,Top6 CompoundValue,Top7 CompoundValue,Top8 CompoundValue,Top9 CompoundValue,...,Top17 CompoundValue,Top18 CompoundValue,Top19 CompoundValue,Top20 CompoundValue,Top21 CompoundValue,Top22 CompoundValue,Top23 CompoundValue,Top24 CompoundValue,Top25 CompoundValue,Label
0,2008-08-08,-0.5994,0.0000,-0.3612,-0.7089,-0.9260,0.0000,-0.2732,0.2144,-0.5719,...,0.0,0.2086,0.2023,0.0258,-0.7579,-0.6249,-0.2755,-0.8519,0.4019,0
1,2008-08-11,0.8156,-0.3182,0.4404,-0.1965,0.0000,-0.4939,-0.5106,-0.0772,-0.6688,...,0.0,-0.6597,0.0000,0.0000,-0.8020,0.0000,-0.3182,-0.1832,0.0000,1
2,2008-08-12,0.0258,0.0000,-0.7845,-0.6124,0.0000,-0.6908,-0.5994,-0.5994,0.3400,...,0.0,0.0772,-0.5994,-0.5859,0.0000,0.5267,0.3818,0.0000,0.0000,0
3,2008-08-13,-0.7184,-0.8074,-0.6369,-0.1280,-0.5106,0.0000,0.2960,0.0000,0.3612,...,0.0,0.0000,-0.5423,-0.0258,-0.2960,0.4939,-0.5719,-0.4215,-0.3400,0
4,2008-08-14,0.2023,0.0000,0.6808,-0.8689,-0.6124,-0.6369,0.7177,-0.4404,-0.6808,...,0.0,0.0000,0.0000,0.0000,-0.4404,-0.5994,0.1779,-0.6908,0.7096,1

In [41]:
stock_data = pd.read_csv('DJIA_table_with_start.csv', parse_dates=[0])
stock_data.head()

,Date,Open,High,Low,Close,Volume,Adj Close,start_trend
0,2008-08-08,11432.08984,11759.95996,11388.04004,11734.32031,212830000,11734.32031,0
1,2008-08-11,11729.66992,11867.11035,11675.53027,11782.34961,183190000,11782.34961,0
2,2008-08-12,11781.70020,11782.34961,11601.51953,11642.46973,173590000,11642.46973,0
3,2008-08-13,11632.80957,11633.78027,11453.33984,11532.95996,182550000,11532.95996,0
4,2008-08-14,11532.07031,11718.28027,11450.88965,11615.92969,159790000,11615.92969,0

In [42]:
# Create a dataframe by merging the sentiment scores of healines and the stock prices dataframes
merged_df = pd.merge(stock_data, sentiment_data, on='Date', how='inner')

# Check the shape of the merged dataframe
print(merged_df.shape)

(1989, 34)

In [43]:
merged_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,start_trend,Top1 CompoundValue,Top2 CompoundValue,...,Top17 CompoundValue,Top18 CompoundValue,Top19 CompoundValue,Top20 CompoundValue,Top21 CompoundValue,Top22 CompoundValue,Top23 CompoundValue,Top24 CompoundValue,Top25 CompoundValue,Label
0,2008-08-08,11432.08984,11759.95996,11388.04004,11734.32031,212830000,11734.32031,0,-0.5994,0.0000,...,0.0,0.2086,0.2023,0.0258,-0.7579,-0.6249,-0.2755,-0.8519,0.4019,0
1,2008-08-11,11729.66992,11867.11035,11675.53027,11782.34961,183190000,11782.34961,0,0.8156,-0.3182,...,0.0,-0.6597,0.0000,0.0000,-0.8020,0.0000,-0.3182,-0.1832,0.0000,1
2,2008-08-12,11781.70020,11782.34961,11601.51953,11642.46973,173590000,11642.46973,0,0.0258,0.0000,...,0.0,0.0772,-0.5994,-0.5859,0.0000,0.5267,0.3818,0.0000,0.0000,0
3,2008-08-13,11632.80957,11633.78027,11453.33984,11532.95996,182550000,11532.95996,0,-0.7184,-0.8074,...,0.0,0.0000,-0.5423,-0.0258,-0.2960,0.4939,-0.5719,-0.4215,-0.3400,0
4,2008-08-14,11532.07031,11718.28027,11450.88965,11615.92969,159790000,11615.92969,0,0.2023,0.0000,...,0.0,0.0000,0.0000,0.0000,-0.4404,-0.5994,0.1779,-0.6908,0.7096,1

In [44]:
corr_matrix = merged_df.corr()

In [45]:
corr_matrix['Label'].sort_values(ascending = False)

Label                  1.000000
start_trend            0.259457
Top19 CompoundValue    0.037685
Top13 CompoundValue    0.035115
Top3 CompoundValue     0.033433
Top15 CompoundValue    0.033031
Top9 CompoundValue     0.027819
Top8 CompoundValue     0.024837
Close                  0.016811
Adj Close              0.016811
Top1 CompoundValue     0.016436
Top2 CompoundValue     0.010949
Top6 CompoundValue     0.010780
Top18 CompoundValue    0.008383
Top12 CompoundValue    0.007883
Top24 CompoundValue    0.007863
Top23 CompoundValue    0.006354
Low                    0.004600
Top10 CompoundValue    0.004511
Top14 CompoundValue    0.002432
Top5 CompoundValue     0.001359
High                   0.000685
Top11 CompoundValue   -0.001757
Top20 CompoundValue   -0.003243
Top21 CompoundValue   -0.005632
Top7 CompoundValue    -0.005840
Top4 CompoundValue    -0.008716
Top16 CompoundValue   -0.012309
Open                  -0.014490
Top22 CompoundValue   -0.014968
Top25 CompoundValue   -0.035466
Top17 CompoundValue   -0.036716
Volume                -0.051673
Name: Label, dtype: float64

start_trend =  (Closing Value of Previous day stock market - Opening Value of current day stock market)
'start_trend' value is a binary variable with values:
1 = positive trend 
0 = negative trend

The corelation matrix shows that the start_trend value is the most important predictor of the target variable followed by the sentiment value(compound value) of the Top19, Top13, Top3, Top15, Top9, Top8,Top1, Top2, Top6 headlines and Close, Adj Close values.

In [46]:
merged_df.dtypes

Date                   datetime64[ns]
Open                          float64
High                          float64
Low                           float64
Close                         float64
Volume                          int64
Adj Close                     float64
start_trend                     int64
Top1 CompoundValue            float64
Top2 CompoundValue            float64
Top3 CompoundValue            float64
Top4 CompoundValue            float64
Top5 CompoundValue            float64
Top6 CompoundValue            float64
Top7 CompoundValue            float64
Top8 CompoundValue            float64
Top9 CompoundValue            float64
Top10 CompoundValue           float64
Top11 CompoundValue           float64
Top12 CompoundValue           float64
Top13 CompoundValue           float64
Top14 CompoundValue           float64
Top15 CompoundValue           float64
Top16 CompoundValue           float64
Top17 CompoundValue           float64
Top18 CompoundValue           float64
Top19 CompoundValue           float64
Top20 CompoundValue           float64
Top21 CompoundValue           float64
Top22 CompoundValue           float64
Top23 CompoundValue           float64
Top24 CompoundValue           float64
Top25 CompoundValue           float64
Label                           int64
dtype: object

In [50]:
# Change the datatype of the volume column to float

merged_df['Volume'] = merged_df['Volume'].astype(float)

In [52]:
# Creating train and test sets with data from dates 2008-08-08 to 2014-12-31 as Training Set and Test Set is
# the following two years data (from 2015-01-02 to 2016-07-01). This is roughly a 80%/20% split.
train_set = merged_df[merged_df['Date'] < '2015-01-01']
test_set = merged_df[merged_df['Date'] > '2014-12-31']

In [57]:
X_train, y_train = train_set.iloc[:,:-1],train_set.iloc[:,-1]
X_test, y_test = test_set.iloc[:,:-1],test_set.iloc[:,-1]

In [60]:
X_train=X_train.drop(['Date'],axis=1)
X_test=X_test.drop(['Date'],axis=1)

In [67]:
X_train.shape

(1611, 32)

In [68]:
X_test.shape

(378, 32)

SGD Classifier

In [61]:
from sklearn.linear_model import SGDClassifier
sgd_clf = SGDClassifier(random_state = 42)

In [62]:
from sklearn.model_selection import cross_val_score
cross_val_score(sgd_clf, X_train, y_train, cv=3, scoring="accuracy")

C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

array([0.45810056, 0.45810056, 0.54189944])

In [63]:
from sklearn.model_selection import cross_val_predict
y_train_pred = cross_val_predict(sgd_clf, X_train, y_train, cv=3)

C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

In [64]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, y_train_pred)

array([[492, 246],
       [582, 291]], dtype=int64)

In [65]:
y_train_perfect_predictions = y_train
confusion_matrix(y_train, y_train_perfect_predictions)

array([[738,   0],
       [  0, 873]], dtype=int64)

In [69]:
from sklearn.metrics import precision_score, recall_score
precision_score(y_train, y_train_pred)

0.5418994413407822

In [70]:
recall_score(y_train, y_train_pred)

0.3333333333333333

Random Forest Classifier

In [79]:
from sklearn.ensemble import RandomForestClassifier
forest_clf = RandomForestClassifier(random_state=42)
y_train_pred_rf = cross_val_predict(forest_clf, X_train, y_train, cv=3)

C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\arupatil\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [80]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, y_train_pred_rf)

array([[451, 287],
       [499, 374]], dtype=int64)

In [81]:
from sklearn.metrics import precision_score
precision_score(y_train, y_train_pred_rf)

0.5658093797276853

In [82]:
X_train.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close', 'start_trend',
       'Top1 CompoundValue', 'Top2 CompoundValue', 'Top3 CompoundValue',
       'Top4 CompoundValue', 'Top5 CompoundValue', 'Top6 CompoundValue',
       'Top7 CompoundValue', 'Top8 CompoundValue', 'Top9 CompoundValue',
       'Top10 CompoundValue', 'Top11 CompoundValue', 'Top12 CompoundValue',
       'Top13 CompoundValue', 'Top14 CompoundValue', 'Top15 CompoundValue',
       'Top16 CompoundValue', 'Top17 CompoundValue', 'Top18 CompoundValue',
       'Top19 CompoundValue', 'Top20 CompoundValue', 'Top21 CompoundValue',
       'Top22 CompoundValue', 'Top23 CompoundValue', 'Top24 CompoundValue',
       'Top25 CompoundValue'],
      dtype='object')

In [ ]:
feature_imp = pd.Series(forest_clf.feature_importances_,index=X_train.columns).sort_values(ascending=False)
feature_imp